Importing Libraries

In [39]:
import numpy as np 
import pandas as pd   
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier

Loading the Data

In [40]:
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

Checking the Data

In [41]:
print(f'Shape of the Dataset : {df.shape}')
print('\n')
print('Dataset Information')
print(df.info())
print('\n')
print('Empty Datapoints')
print(df.isnull().sum())

Shape of the Dataset : (284807, 31)


Dataset Information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB
None


Empty Datapoints
Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [42]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Seperating the Values

In [43]:
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [44]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling the Data

In [45]:
legit_sample = legit.sample(n = 492)

Creating New DataFrame

In [46]:
new_df = pd.concat([legit_sample, fraud], axis = 0)
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
184599,126305.0,-0.575650,1.315154,-0.397644,0.606326,0.975913,0.780572,0.382825,0.581769,-0.431821,...,0.256194,0.902518,-0.411310,-0.322283,0.195424,-0.244679,0.190123,0.163719,1.50,0
151162,94820.0,1.840982,0.463263,-0.474705,4.300513,0.395571,0.130230,0.149732,-0.197216,0.748078,...,-0.060644,0.347114,-0.006076,-0.038707,0.276840,0.149766,-0.052950,-0.057377,37.17,0
278767,168418.0,2.066415,-0.021482,-1.628222,0.017033,0.604777,-0.259853,0.124740,-0.151404,0.238788,...,0.275184,0.933505,-0.035143,0.277516,0.328967,-0.131318,-0.020723,-0.065430,1.00,0
70028,53679.0,0.034251,-1.832581,-1.161520,1.523104,0.020920,0.630641,1.049306,-0.157582,0.125539,...,0.291720,-0.456278,-0.861510,-1.289035,0.700876,-0.212462,-0.101811,0.108959,656.00,0
186489,127131.0,-0.033141,0.960331,-0.003420,-0.350891,0.329739,-0.967276,0.937585,-0.274583,0.141334,...,-0.204877,-0.479668,0.140433,-0.119266,-0.894251,0.142403,0.054382,0.151003,12.99,0

In [47]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

Features and Target

In [48]:
x = new_df.drop(['Class'], axis = 1)
y = new_df['Class']

Splitting Data into Training and Testing Data

In [49]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, stratify = y, random_state = 3)

Training the Model

In [50]:
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

Model Prediction on Testing Data

In [51]:
y_predTest = model.predict(x_test)

Comparing Actual Class vs Predicited Class

In [52]:
dfrt = pd.DataFrame({'Actual Class': y_test, 'Predicted Class': y_predTest})
print(dfrt)

        Actual Class  Predicted Class
68815              0                0
175084             0                0
159701             0                0
151021             0                0
251881             1                1
...              ...              ...
43061              1                1
144290             0                0
143333             1                1
180230             0                0
14385              0                0

[99 rows x 2 columns]

Model Score

In [53]:
print(f'The score for the model is {model.score(x_test, y_test)}')

The score for the model is 0.9191919191919192

Predicitve System

In [54]:
x_new = (0,-1.3598071336738,-0.0727811733098497,2.53634673796914,1.37815522427443,-0.338320769942518,0.462387777762292,0.239598554061257,0.0986979012610507,0.363786969611213,0.0907941719789316,-0.551599533260813,-0.617800855762348,-0.991389847235408,-0.311169353699879,1.46817697209427,-0.470400525259478,0.207971241929242,0.0257905801985591,0.403992960255733,0.251412098239705,-0.018306777944153,0.277837575558899,-0.110473910188767,0.0669280749146731,0.128539358273528,-0.189114843888824,0.133558376740387,-0.0210530534538215,149.62)
x_new = np.asarray(x_new)
x_new = x_new.reshape(1,-1)
prediction = model.predict(x_new)
if prediction[0]==0:
    print('Legit Transaction')
else:
    print('Fraud Transaction')

Legit Transaction

c:\Users\Pankaj\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(